$color-darkPurple: #4E105C;
$color-purpleShadow: rgba(156, 0, 178, .25);
$color-lightPurple: #9C00B2;
$color-orange: #FD741B;
$color-darkGray: #222222;
$color-lightGray: #777777;
$color-white: #FFFFFF;
$color-offWhite: #FEFAFF;

$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 30px;

$font-H1: 44px;
$font-H2: 30px;
$font-Normal: 14px;
$font-Small: 12px;

$screen-tablet: 1024px;