
@import '../css/variables.scss';

.link {
    color: $color-lightGray;
    margin-right: $spacing-md;
    font-size: $font-Small;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $color-darkGray;
    }
}

.linkAlternate {
    color: $color-lightPurple;
    text-decoration: none;

    &:hover {
        color: $color-darkPurple;
    }

    &:visited {
        color: $color-orange;
    }
}